* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 65px;
    text-align: center;
    margin-top: 10px;
}

#startBox,
#captionBox {
    font-size: 30px;
    text-indent: 10px;
}

#startBox {
    width: 90%;
}

#captionBox {
    margin-top: 50px;
    width: 800px;
}

.button {
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    border-style: solid;
    padding: 15px;
}

body {
    padding: 50px;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

#titleMenu,
.mainMenu {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainMenu {
    height: 120px;
}