<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <span id='titleMenu'>
            <form action="./entry">
            <p><input name="author" id="startBox" placeholder="Type Your Name Here"></p>
            <br> <input type="submit" class="button" value="Make A Quote!">
            </form>
        </span>

        <% include ./partials/scripts %>
    </body>

</html>