<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <img src="<%= gifUrl %>" alt="giphy!">
        <br>

        <span id='gameMenu'>
        <form action="./vote ">
            <p><input name="playerCaption" id="captionBox" placeholder="Type your caption here"></p>
            <br> <input type="submit" class="button" value="Submit Caption">
        </form>
        </span>

        <ul>
            <li>
                <p>Player 1</p>
                <p>Ready!</p>
            </li>
            <li>
                <p>Player 2</p>
                <p>Writing...</p>
            </li>
            <li>
                <p>Player 3</p>
                <p>Writing...</p>
            </li>
            <li>
                <p>Player 4</p>
                <p>Ready!</p>
            </li>
        </ul>

        <% include ./partials/scripts %>
    </body>

</html>