<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <img src="<%= gifUrl %>" alt="giphy!">
        <br>

        <span class='mainMenu'>
            <form action="./results ">
                <p><input name="caption" id="captionBox" placeholder="Type your caption here"></p>
                <p> by <%=authorName %> </p>
                <br> <input type="submit" class="button" value="Submit Caption">
            </form>
        </span>

        <% include ./partials/scripts %>
    </body>

</html>