<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <img src="https://placehold.it/350x150" alt="giphy!" height="300" width="300">
    <br>
    <input name="playerName" placeholder="Name">

    <form action="./vote">
	    <input type="submit" value="Submit">
    </form>

    <ul>
      <li>
        <p>Player 1</p>
        <p>Ready!</p>
      </li>
      <li>
        <p>Player 2</p>
        <p>Writing...</p>
      </li>
      <li>
        <p>Player 3</p>
        <p>Writing...</p>
      </li>
      <li>
        <p>Player 4</p>
        <p>Ready!</p>
      </li>
    </ul>
  </body>
</html>
