<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <span id='titleMenu'>
            <form action="./entry">
            <p class="playerName">Player <input name="playerName" id="startBox" placeholder="Name"></p>
            <br> <input type="submit" class="button" value="Start Game">
            </form>
        </span>

        <% include ./partials/scripts %>
    </body>

</html>