<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <span id='titleMenu'>
            <form action="./entry">
            <input name="playerName" id="startBox" placeholder="Type Name Here">
            <br> <input type="submit" class="button" value="Start Game">
            </form>
        </span>

        <% include ./partials/scripts %>
    </body>

</html>