<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <p>Player <input name="playerName" placeholder="Name"></p>
        <form action="./entry">
            <input type="submit" value="Start Game">
        </form>

        <% include ./partials/scripts %>
    </body>

</html>