<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <img src="<%= gifUrl %>" alt="giphy!">
        <br>

        <span class='mainMenu'>
            <form action="./">
                <!--<% for (var i = 0; i < quoteList.length; i++) { %>-->
                    <p class="captionText">"<%=quoteList[0].sentence %>"</p>
                    <p class="authorText">by <%=quoteList[0].name %></p>
                <!--<% } %>-->
                <br> <input type="submit" class="button" value="Start New Session"> 
            </form>
        </span>
        <% include ./partials/scripts %>
    </body>

</html>