<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>
            <%= title %>
        </h1>

        <p>Round Results</p>

        <form action="./entry">
            <input type="submit" value="Play Again">
        </form>

        <form action="./">
            <input type="submit" value="End Game">
        </form>

        <ul>
            <li>
                <p>Ranking: 1st</p>
                <p>Player 1</p>
                <p>Votes: 1</p>
                <p>Total: 1</p>
            </li>
            <li>
                <p>Ranking: 2nd</p>
                <p>Player 2</p>
                <p>Votes: 1</p>
                <p>Total: 1</p>
            </li>
            <li>
                <p>Ranking: 3rd</p>
                <p>Player 3</p>
                <p>Votes: 1</p>
                <p>Total: 1</p>
            </li>
            <li>
                <p>Ranking: 4th</p>
                <p>Player 4</p>
                <p>Votes: 1</p>
                <p>Total: 1</p>
            </li>
        </ul>

        <% include ./partials/scripts %>
    </body>

</html>