<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <img src="<%= gifUrl %>" alt="giphy!">
        <br>

        <span class='mainMenu'>
            <form action="./">
                <p><%=captionName %></p>
                <br> <p>by <%=authorName %></p>
                <br> <input type="submit" class="button" value="Start New Session"> 
            </form>
        </span>

        <% include ./partials/scripts %>
    </body>

</html>