<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>
            <%= title %>
        </h1>

        <img src="https://placehold.it/350x150" alt="giphy!" height="300" width="300">
        <br>

        <form action="./results">
            <ul>
                <li>
                    <p>Player Caption Entry</p>
                    <input type="submit" value="Vote!">
                </li>
                <li>
                    <p>Player Caption Entry</p>
                    <input type="submit" value="Vote!">
                </li>
                <li>
                    <p>Player Caption Entry</p>
                    <input type="submit" value="Vote!">
                </li>
                <li>
                    <p>Player Caption Entry</p>
                    <input type="submit" value="Vote!">
                </li>
            </ul>
        </form>

        <ul>
            <li>
                <p>Player 1</p>
                <p>Voted!</p>
            </li>
            <li>
                <p>Player 2</p>
                <p>Voting...</p>
            </li>
            <li>
                <p>Player 3</p>
                <p>Voting...</p>
            </li>
            <li>
                <p>Player 4</p>
                <p>Voted!</p>
            </li>
        </ul>

        <% include ./partials/scripts %>
    </body>

</html>